@import "tailwindcss";

/*Oppgave 3*/
@theme {
  --color-mint-500: #ADEBB3;
  --color-primary: #115222;
  --color-secondary: #115272;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
